.music-player {
  background-color: #333;
  color: #fff;
}

thead {
  color: #fff;
  position: sticky;
  top: 0;
  background-color: #444;
}

tbody {
  color: #fff;
}

.audio-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #444;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.audio-controls button {
  height: 40px;
  width: 40px;
  font-size: 1em;
}

